<!-- component -->
<div class="h-screen w-full flex overflow-hidden select-none">
	<nav class="w-24 flex flex-col items-center bg-white  py-4">
		<!-- Left side NavBar -->

		<div>
			<!-- App Logo -->

			<img src="../../assets/logo.svg" alt="">

		</div>

		<ul class="mt-2 text-gray-700  capitalize">
			<!-- Links -->

			<li [ngClass]="{'mt-3 p-2 text-blue-600  rounded-lg':!chatOpen,'text-gray-400':chatOpen}" (click)="open(false)">
				<a href="#" class=" flex flex-col items-center">
					<svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
						<path d="M19 5v2h-4V5h4M9 5v6H5V5h4m10 8v6h-4v-6h4M9
							17v2H5v-2h4M21 3h-8v6h8V3M11 3H3v10h8V3m10
							8h-8v10h8V11m-10 4H3v6h8v-6z"></path>
					</svg>
					<span class="text-xs mt-2">dashBoard</span>
				</a>

			</li>

			<li [ngClass]="{'mt-3 p-2 text-blue-600  rounded-lg':chatOpen,'text-gray-400':!chatOpen}" (click)="open(true)">
				<a href="#" class=" flex flex-col items-center">
					<svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
						<path d="M23 3v-.5a2.5 2.5 0 00-5 0V3c-.55 0-1 .45-1 1v4c0
							.55.45 1 1 1h5c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1m-1
							0h-3v-.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5V3M6
							11h9v2H6v-2m0-4h9v2H6V7m16 4v5c0 1.11-.89 2-2 2H6l-4
							4V4a2 2 0 012-2h11v2H4v13.17L5.17 16H20v-5h2z"></path>
					</svg>
					<span class="text-xs mt-2">messages</span>
				</a>

			</li>







		</ul>

		
	</nav>
	<main  class="my-1 pt-2 pb-2 px-10 flex-1 bg-gray-200 rounded-l-lg
		transition duration-500 ease-in-out overflow-y-auto">
		<div class="flex flex-col capitalize text-3xl" *ngIf="!chatOpen">
			<span class="font-semibold">hello,</span>
			<span>ghassen!</span>

		</div>
		<app-chat *ngIf="chatOpen"></app-chat>
		<div class="flex" *ngIf="!chatOpen">
			<div class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col bg-white
				rounded-lg">
				<!-- Card list container -->

				<h3 class="flex items-center pt-1 pb-1 px-8 text-lg font-semibold
					capitalize ">
					<!-- Header -->
					<span>Summary Statistics</span>
					<button class="ml-2">
						<svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
							<path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
								0l-22.6-22.6c-9.4-9.4-9.4-24.6
								0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
								0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
								136c9.5 9.4 9.5 24.6.1 34z"></path>
						</svg>
					</button>
				</h3>

				<div>
					<!-- List -->

					<!-- List -->
					<ul class="pt-1 pb-2 px-3 overflow-y-auto">
						<!-- Heart Rate -->
						<li [ngClass]="{ 'text-red-600': !heartRateCondition,  'text-green-600' :heartRateCondition }">
							<i class="bi bi-heart"></i>
							Heart Rate: {{ formStat.get('heartRate')?.value }} bpm (Normal: 60-100 bpm)
						</li>

						<!-- Temperature -->
						<li
							[ngClass]="{ 'text-red-600': temperatureCondition,  'text-green-600': !temperatureCondition }">
							<i class="bi bi-thermometer"></i>
							Temperature: {{ formStat.get('temperature')?.value }} °C (Normal: 36.1-37.2 °C)
						</li>

						<!-- Blood Pressure -->
						<li
							[ngClass]="{ 'text-red-600': bloodPressureCondition,  'text-green-600': !bloodPressureCondition }">
							<i class="bi bi-bar-chart"></i>
							Blood Pressure: {{ formStat.get('systolicBloodPressure')?.value }}/{{
							formStat.get('diastolicBloodPressure')?.value }} mmHg (Normal: 120/80 mmHg)
						</li>

						<!-- Respiratory Rate -->
						<!-- Respiratory Rate -->
						<li
							[ngClass]="{ 'text-red-600': respiratoryRateCondition, 'text-green-600': !respiratoryRateCondition }">
							<i class="bi bi-lungs"></i>
							Respiratory Rate: {{ respiratoryRateValue }} breaths/min (Normal: 12-20 breaths/min)
						</li>

						<!-- Add more items as needed -->
					</ul>

					<form class="px-3 " [formGroup]="formStat" (ngSubmit)="onSubmit()">
						<!-- Heart Rate Input -->
						<div class="mb-4">
							<label for="heartRate" class="block text-sm font-semibold text-gray-600">Heart Rate
								(bpm):</label>
							<input type="number" id="heartRate" formControlName="heartRate"
								class="mt-1 p-2 border rounded-md w-full" required>
						</div>

						<!-- Temperature Input -->
						<div class="mb-4">
							<label for="temperature" class="block text-sm font-semibold text-gray-600">Temperature
								(°C):</label>
							<input formControlName="temperature" type="number" id="temperature"
								class="mt-1 p-2 border rounded-md w-full" required>
						</div>

						<!-- Blood Pressure Input -->
						<div class="mb-4">
							<label for="systolicBloodPressure"
								class="block text-sm font-semibold text-gray-600">Systolic Blood Pressure:</label>
							<input formControlName="systolicBloodPressure" type="number" id="systolicBloodPressure"
								class="mt-1 p-2 border rounded-md w-full" required>
						</div>

						<div class="mb-4">
							<label for="diastolicBloodPressure"
								class="block text-sm font-semibold text-gray-600">Diastolic Blood Pressure:</label>
							<input formControlName="diastolicBloodPressure" type="number" id="diastolicBloodPressure"
								class="mt-1 p-2 border rounded-md w-full" required>
						</div>

						<!-- Respiratory Rate Input -->
						<div class="mb-4">
							<label for="respiratoryRate" class="block text-sm font-semibold text-gray-600">Respiratory
								Rate (breaths per minute):</label>
							<input formControlName="respiratoryRate" type="number" id="respiratoryRate"
								class="mt-1 p-2 border rounded-md w-full" required>
						</div>

						<!-- Add more form fields for other statistics -->

						<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Submit</button>

						<!-- Add more form fields for other statistics -->

					</form>

					<a href="#" class="flex justify-center capitalize text-blue-500
						">
						<span>see all</span>
					</a>

				</div>

			</div>

			<div class="mr-6 w-1/2 mt-8 py-2 flex-shrink-0 flex flex-col bg-white rounded-lg text-gray-700">
				<h3 class="flex items-center pt-1 pb-1 px-8 text-lg font-bold capitalize">
					<span>Appointments</span>
					<button class="ml-2">
						<svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
							<path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9
						0l-22.6-22.6c-9.4-9.4-9.4-24.6
						0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6
						0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136
						136c9.5 9.4 9.5 24.6.1 34z"></path>
						</svg>
					</button>
				</h3>

				<div class="flex flex-col items-center mt-12">
					<ng-container *ngIf="appointments.length; else emptyState">
						<ul class="text-left">
							<li *ngFor="let appointment of appointments" class="mb-4 flex justify-around items-center">
								<img src="../../assets/doctorimage.png" alt="Doctor Image"
									class="w-16 h-16 rounded-full mx-8">
								<div class="font-semibold">Time: {{ appointment.time }}</div>
								<div class="text-gray-700">Doctor: {{ appointment.doctor }}</div>
								<div class="text-purple-500">Purpose: {{ appointment.purpose }}</div>
							</li>
						</ul>
					</ng-container>

					<!-- Empty state content -->
					<ng-template #emptyState>
						<img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-state-2130362-1800926.png"
							alt="empty schedule" />
						<span class="font-bold mt-8">Your schedule is empty</span>
						<span class="text-purple-500">Make your first appointment</span>
						<button class="mt-8 bg-purple-800 rounded-lg py-2 px-4">Find a Doctor</button>
					</ng-template>
				</div>
			</div>


		</div>

	</main>

	<aside class="w-1/4 my-1 mr-1 px-6 py-4 flex flex-col bg-gray-200 rounded-r-lg overflow-y-auto">
		<!-- Right side NavBar -->
		<div class="flex items-center justify-end relative">
			<!-- Info -->
			<button class="relative mx-8" (click)="toggleNotificationList()">
			  <!-- Left side -->
			  <span>
				<svg class="h-5 w-5 hover:text-red-600" viewBox="0 0 24 24" fill="none" stroke="currentColor"
				  stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				  <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
				  <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
				</svg>
			  </span>
			  <div class="absolute w-2 h-2 left-0 mb-6 ml-2 bottom-0">
				<span class="px-2 py-1 bg-red-600 rounded-full text-white text-xs">{{ notifications.length }}</span>
			  </div>
			</button>
		  
			<div class="flex items-center">
			  <!-- Right side -->
			  <img class="h-10 w-10 rounded-full object-cover"
				src="https://i.pinimg.com/originals/68/e1/e1/68e1e137959d363f172dc3cc50904669.jpg"
				alt="tempest profile" />
			  <button class="ml-1 focus:outline-none">
				<svg class="h-4 w-4 fill-current" viewBox="0 0 192 512">
				  <path
					d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z">
				  </path>
				</svg>
			  </button>
			</div>
		  
			<!-- Notification List -->
<!-- Notification List -->
<div class="w-full absolute top-0 right-0 p-4 border border-gray-300 rounded shadow-lg bg-white mt-12"
  [@fadeInOut]="notificationOpened ? 'in' : 'out'" *ngIf="notificationOpened">
  <p class="font-bold text-2xl">Notifications</p>
  <div class="flex items-center p-4 bg-white mx-auto max-w-sm relative " *ngFor="let notification of notifications">
    <span class="text-xs font-bold uppercase px-2 mt-2 mr-2 text-green-900 bg-green-400 border rounded-full absolute top-0 right-0">New</span>
    <span class="text-xs font-semibold uppercase m-1 py-1 mr-3 text-gray-500 absolute bottom-0 right-0">4:36 PM</span>
    <div class="ml-5">
        <h4 class="text-lg font-semibold leading-tight text-gray-900">{{notification}}</h4>
        <p class="text-sm text-gray-600">{{notification}}</p>
    </div>
  </div>
  <div *ngIf="notifications.length === 0 && notificationOpened" class="no-notifications mt-4 text-gray-500">No notifications</div>
</div>


		  </div>
		  
		  
		<!-- Global Status -->
		<span class="mt-4 text-gray-600">Global Etat</span>
		<span class="mt-1 text-3xl font-semibold">Good</span>

		<!-- Make Appointment Button -->
		<button class="mt-8 flex items-center py-4 px-3 text-white rounded-lg bg-green-400 shadow focus:outline-none">
			<svg class="h-5 w-5 fill-current mr-2 ml-3" viewBox="0 0 24 24">
				<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
			</svg>
			<span>Make appointment</span>
		</button>

		<!-- Prescription and Medication Status -->
		<div class="mt-12 flex items-center">
			<span>Prescription and Medication Status: </span>
			<button class="ml-2 focus:outline-none">
				<svg class="h-5 w-5 fill-current" viewBox="0 0 256 512">
					<path
						d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
					</path>
				</svg>
			</button>
		</div>
		<!-- Medication Item -->
		<div *ngIf="!hideElement" [@changeColorAndDestroy]="checkboxChecked ? 'checked' : 'unchecked'"
			(click)="onChange()"
			[ngClass]="{'mt-8 p-4 flex justify-between  rounded-lg font-semibold capitalize': true} ">
			<div class="flex items-center ">
				<img class="h-10 w-10 rounded-full object-cover" src="" alt="veldora profile" />
				<div class="flex flex-col ml-4">
					<span>Panadole</span>
					<span class="text-sm text-gray-600"></span>
				</div>
			</div>

			<!-- Checkbox for medication status -->
			<div class="flex items-center">
				<label class="inline-flex items-center ml-4">
					<input type="checkbox" [(ngModel)]="checkboxChecked" class="form-checkbox h-5 w-5 text-blue-600">
					<span class="ml-2 text-gray-700">Taken</span>
				</label>
			</div>


		</div>

		<!-- See All Medications Button -->
		<div class="mt-4 flex justify-center capitalize text-blue-600">
			<a href="#">see all</a>
		</div>
	</aside>


</div>
<!-- notification-list.component.html -->

  